body {
 background-color: rgba(4, 151, 151, 0.596);
}
main { 
    padding-top:20px;
    background-color: antiquewhite;
    text-align: center;
}
img {
    width: 400px;
}
p {
    text-align: justify;
    font-size: 20px;
    margin: 20px 28% ;
}
h1 {
    text-align: center;
    font-size: 3em;
}
h2 {
    font-size: 40px;    
}
h3 {
    font-size: 2em;
}
#referencias li {
    list-style: none;
}
